polkit.addRule(function(action, subject) {
 if (action.id.match("org.freedesktop.systemd1.manage-units") && action.lookup("unit") == "docker.service" && subject.user == "otus") {
 return polkit.Result.YES;
 }
});
