[master]
description = 'backup master'
ssh_command = ssh postgres@192.168.57.10
conninfo = host=192.168.57.10 user=barman dbname=postgres
retention_policy_mode = auto
retention_policy = RECOVERY WINDOW OF 7 days
wal_retention_policy = main
streaming_archiver = on
path_prefix = /usr/pgsql-14/bin/
create_slot = auto
slot_name = master
streaming_conninfo = host=192.168.57.10 user=barman
backup_method = postgres
archiver = off
